<div class="container">

	<div class="posts">
		<h1>投稿詳細</h1>

		<p>@post.content</p>
		<span>タグ</span>
		<% @post_tags.each do |tag| %>
			<%= link_to tag_posts_path(tag_id: tag.id) do %>
					<%= tag.tag_name %>(<%= tag.posts.count %>)
			<% end %>
		<% end %>

	</div>

	<div class="post_edit">
		<p>投稿編集</p>
		<%= link_to "編集", edit_post_path(@post.id) %>
		<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</div>

	<%= link_to 'ホーム', root_path %>

</div>